{% extends 'main/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            {% if object.author == user %}
            <a href="{% url 'main:update' object.pk %}">
                Edit
            </a>
            {% endif %}
        </div>
        <div class="col-md-4">
            <h2>{{ object.title }}</h2>
            <p>{{ object.body }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    {% if user.is_authenticated %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary">Send</button>
                    </form>
                    {% else %}
                        <span class="text-muted">
                            Need to be logged in for posting comments
                            <a href="{% url 'users:login' %}?next={{ request.path }}">sign in</a>
                        </span>
                    {% endif %}
                </div>
                <div class="card-body">
                    {% for comment_item in article.comment_set.all %}
                        <p>
                            >>: {{ comment_item.comment }}
                            <span class="text-muted float-right">{{ comment_item.created_at|date:"d.m.Y" }}</span>
                        </p>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}