<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/blog/">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contact/">Contact</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'users:login' %}">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'users:register' %}">Register</a>
    </li>
    {% endif %}
</ul>